# Server
PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:3000
JWT_SECRET=super_secret_farmconnect_jwt_key_998877665544332211
JWT_EXPIRES_IN=7d

# Database (PostgreSQL)
DATABASE_URL="file:./dev.db"

# Next.js Client
NEXT_PUBLIC_API_URL=http://localhost:5000/api
NEXT_PUBLIC_SOCKET_URL=http://localhost:5000